.agenda-tit{
    margin-bottom:30px;
}
.agenda-title{
    background-color:#ff8023;
    padding-top: 12px;
    border-radius: 3px 0 0 3px;
}

.agenda-date{
    background-color: #81b6ff;
    text-align:center;
    padding-top: 12px;
}

.trip-type{
    background-color: #192433;
    text-align:center;
    padding-top: 12px;
    border-radius:0 3px 3px 0;
}

.title-info{
    color:#ffffff;
    font-weight: 600;
}