.currency-block{
    border-radius: 3px;
    padding: 12px;
}

.input-group-currency{
    padding: 10px;
}

.currency-heading{
    background-color:#192433;
    color: white;
    text-align: center;
    font-size:20px;
    font-weight: 400;
}

.currency-data{
    background-color:#81b6ff;
    font-weight:200;
}

a{
    font-weight:200;
    color: #192433;
}

a:hover{
    color: white;
    text-decoration: none;
}

