.flights-container {
    /* margin: 10px auto; */
    width: 100%;
}

.flight-container{
    border: 1px solid #81b6ff;
    border-radius: 3px;
    margin: 10px auto;
    padding: 10px;
}

.fa-plane-departure{
    color: #81b6ff;
}

.hour{
    font-size:18px;
    color:#ff8023;
}

.country{
    font-size:16px;
    color: #81b6ff;
    margin-top:-20px;
}

.flight-elements {
    vertical-align: middle!important;
}

.duration{
    font-size:16px;
    color:#192433;
    text-align:center;
}

.scale{
    font-size:16px;
    color:#ff8023;
    /* margin-top:-20px; */
    text-align:center;
}

.priceInfo{
    width: 100%;
    height: auto;
    background-color: #192433;
    color:#81b6ff;
    border-radius: 3px;
}

.price {
    font-size:18px;
    color:#81b6ff;
    font-weight:bold;
    padding-top:30px;
    text-align:center;
}

.buttonCont {
    padding: 10px;
}

.general-content {
    text-align:center;
}

.selectBtn {
    margin: 0 auto;
    width: 100%;
    padding: 5px;
}

.selectButton {
    text-align: center;
}

.tripHeader {
    text-align: center;
}

.btn-outline-primary {
    color: #ffffff;
    background-color: transparent;
    background-image: none;
    border-color: #ff8023;
    margin-left: 32px;
    text-align: center;
    font-weight: 600;
}

.btn-outline-primary:hover {
    color: #ffffff;
    background-color: #ff8023;
    background-image: none;
    border-color: #ff8023;
}

@media (max-width: 1200px) {
    .query-text2 {
        font-size: 15px;
    }

    .btn-outline-primary {
        margin-left: 20px;
    }
}

@media (max-width: 992px) {
    .query-text2 {
        font-size: 15px;
    }

    .btn-outline-primary {
        margin-left: 27px;
    }
}

@media (max-width: 768px) {
    .query-text2 {
        font-size: 12px;
    }

    .btn-outline-primary {
        margin-left: 5px;
    }
}

@media (max-width: 576px) {
    .query-text2 {
        font-size: 12px;
    }
}

@media (max-width: 575px) {
    .col-xs-10 {
        flex: 0 0 83.3%;
        min-width: 83.3%;
    }
    .col-xs-12 {
        flex: 0 0 100%;
        min-width: 100%;
    }
}

@media (max-width: 575px) {
    .col-xs-2 {
        flex: 0 0 16.66%;
        min-width: 16.66%;
    }

    .col-xs-4 {
        flex: 0 0 33.33%;
        min-width: 33.33%;
    }

    .btn-outline-primary {
        margin-left: 8px;
    }

}