/*Starts nav style */
.bg-light {
    background-color: #ffffff!important;
    box-shadow: 0px 0px 5px #606a8c;
    margin-bottom: 25px;
}

.navbar-light .navbar-brand {
    color:#e0b1d0;
  
    margin-left: 350px;
}
.navbar-nav {
    margin-left: 950px;
}

.navbar-light .navbar-nav .nav-link {
    color:#606a8c;
  
    
}

.navbar-light .navbar-nav .nav-link:hover{
    color:#e0b1d0;
  
    
}

.nav-link-active{
    color:#606a8c;
   
}

.nav-link-active:hover{
    color:#e0b1d0;
   
    text-decoration: none;

}











.btn-primary {
    background-color: #606a8c;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    border: none;
    margin: 0 auto;
}

.btn-primary:hover {
    background-color: #e0b1d0;
}

.form-group {
    font-weight: bold;
    color: #e0b1d0;
    width: 80%;
    margin: 0 auto;
}

.btn.btn-primary {
    margin-top: 20px;
    margin-left: 821px;
}

.theatreInfo{
    background-color: #ffffff;
    color: #4e556b;
    margin-top:10px;
    text-align: center;
}

.mb-3{
    max-width: 540px;
    margin-left: 213px;
}



/* Media queries*/

@media only screen and (max-width:1199px) {
    .navbar-nav {
        margin-left: 10px;
    }
    .mb-3{
        max-width: 540px;
        margin-left: 0;
    }

    .icons {
        margin-left: 450px; 
    } 
}

@media only screen and (max-width:991px) {
    #carouselExampleControls {
        margin:0 auto;
    }

    .icons {
        margin-left: 262px; 
    }

}

@media only screen and (max-width:767px) {
    footer {
        text-align: left;
        padding-left: 250px;
    }

    form {
        width:76%;
    }

    .card-body {
        width: 475px;
    }

    .intro {
        width: 767px;
        margin-left:0 auto;
    }

    .icons{
        margin-left: 165px;
    }
}

@media only screen and (max-width:575px) {
    footer {
        text-align: left;
        padding-left: 100px;
    }

    form {
        width:50%;
    }   


    .intro {
        width: 575px;
        margin-left:0 auto;
        text-align: center;
    }

    .name{
        font-size: 70px;
    }

    .icons{
        margin-left: 112px;
    }
}

.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}
