.google-map {
    height: 176px;
    background-color: #373737;
    margin-top: 15px;
    /* margin-left: 37px; */
    border-radius: 0 0 3px 3px;
}

.card-container {
    border: solid 1px #81b6ff;
    border-radius: 3px;
}

.card-title {
    border-radius: 3px 3px 0 0;
    background-color: #192433;
    color: #ffffff;
    padding: 5px 0 5px 0;
    margin-left: -1px;
}

.mb-3, .my-3 {
    margin-bottom: 1rem!important;
    /* margin-left: 54px;
    width: 614px; */
}

.search-input {
}

.row {
    margin-right: -1px;
    margin-left: -1px;
}