.hotel-container {
    width: 100%;
}

.google-maps {
    height: 200px;
    background-color: brown;
}

.input-row {
    margin-bottom: 8px;
}

.fa-map-marker-alt {
    color: #ff8023;
}

@media (max-width: 575px) {
    .col-xs-12 {
        flex: 0 0 100%;
        min-width: 100%;
    }
}