
.flights-container{
    width: 80%px;
}

@media (max-width: 768px) {
    .query-text {
        font-size: 14px;
    }
}

@media (max-width: 576px) {
    .query-text {
        font-size: 12px;
    }
}

