.card-container{
    border: solid 1px #81b6ff;
    margin-top: 20px;
}

.card-title {
    border-radius: 3px 3px 0 0;
    background-color: #192433;
    height: 36px;
    color:#ffffff;
    margin-left: -1px;
}

.content {
    margin-left:-53px;
    /* margin-top: 15px; */
}