.card-container{
    border: solid 1px #81b6ff;
    border-radius: 3px;
    width:650px;
    height:200px;
}

.card-title {
    border-radius: 3px 3px 0 0;
    background-color: #192433;
    height: 36px;
    color:#ffffff;
    padding: 5px 0 5px 26px;
    margin-left: -1px;
}

.content {
    margin-left:-53px;
    margin-top: 15px;
}