.btn-outline-primary {
    color: #ffffff;
    background-color: transparent;
    background-image: none;
    border-color: #ff8023;
    /* margin: 10px; */
    font-weight: 300;
}

.btn-outline-primary:hover {
    color: #ffffff;
    background-color: #ff8023;
    background-image: none;
    border-color: #ff8023;
}