.DayPicker-Day--today {
    color: #84df48;
    font-weight: 700;
  }

  .DayPickerInput input{
    width: 100%;    
    border: solid 1px #81b6ff;
    height: 37px;
    background-color: #ffffff;
    border-radius: 1px;
  }