.newtrip-container {
    margin: 0 auto;
    background-color: #DDEFFF;
    width: 90%;
    margin-top:100px;
    padding: 20px;
    padding-bottom: 60px;
}

.newtrip-form-title{
    color: #0A1F30;
    padding-top: 25px;
    text-align:center;
    font-weight: 600;
    font-stretch: extra-expanded;
    font-family: 'Montserrat', sans-serif;
}

.newtrip-form-control{
    border: 1px solid #81b6ff;
    border-radius: 3px;
    width: 100%;
}

.form-group{
    margin: 40px ;
}

.newtripinput-btn-primary{
    background-color:#ff8023;
    color:#ffffff;
    border: none;
    margin-left: 243px;
}

.newtripinput-btn-primary:hover{
    background-color:#81b6ff;
    color:#ffffff;
}

.newtripinput-changeForm{
    color:#ff8023;
    text-decoration: none;
    margin-left:15px;
}

.newtripinput-changeForm:hover{
    color:#81b6ff;
    text-decoration:none;
    text-align: left;
}

.persons {
    padding-top: 35px;
}

.trip-name {
    padding-top:35px;
}

