.newtrip-container {
    margin: 20px auto;
    background-color: #DDEFFF;
    width: 100%;
    padding: 20px;
    padding-bottom: 60px;
}

.newtrip-form-title{
    color: #0A1F30;
    padding-top: 10px;
    text-align:center;
    font-weight: 600;
    font-stretch: extra-expanded;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 25px;
}

.newtrip-form-control{
    border: 1px solid #81b6ff;
    border-radius: 3px;
    width: 100%;
}

.form-group-trip{
    margin: 40px ;
}

.newtripinput-btn-primary{
    background-color:#ff8023;
    color:#ffffff;
    border: none;
    margin-left: 243px;
}

.newtripinput-btn-primary:hover{
    background-color:#81b6ff;
    color:#ffffff;
}

.newtripinput-changeForm{
    color:#ff8023;
    text-decoration: none;
    margin-left:15px;
}

.newtripinput-changeForm:hover{
    color:#81b6ff;
    text-decoration:none;
    text-align: left;
}

.persons {
    padding-top: 35px;
}

.trip-name {
    padding-top:35px;
}

#basic-addon1 {
    border-color: #81b6ff;
    background-color:#ffffff;
}

.fa-search-location, .fa-list, .fa-user, .fa-pen-alt, .fa-calendar-week{
    color: #ff8023;
}

.firstRow {
    margin-bottom: 20px;
}

.fa-plane, .fa-user-friends, .fa-plane-departure, .fa-plane-arrival {
    color: #ff8023 !important;
}

/* @media (max-width: 575px) {
    .col-xs-10 {
        flex: 0 0 100%;
        min-width: %;
    }
} */

