.usernameInput, .emailInput2, .passwordInput2{
    border: 1px solid #81b6ff;
    width: 100%;
}

label {
    color:#ff8023;
}

.form {
    margin: 0 auto;
    width: 400px;
}

.form-title{
    color:#ff8023;
    font-weight: 600;
}

.btn-primary{
    background-color:#ff8023;
    color:#ffffff;
    border: none;
    margin-left: 243px;
}

.btn-primary:hover{
    background-color:#81b6ff;
    color:#ffffff;
}

.changeForm{
    color:white !important;
    text-decoration: none;
    /*margin-left:15px;*/
    margin: 10px;
}

.changeForm:hover{
    color:#81b6ff;
    text-decoration:none;
    text-align: left;
}

.signupBtn {
    margin: 10px;
    background-color: #ff8023;
    border-radius: 3px;
    float: right;
    border: none;
    padding: 5px;
    color: white;
}

.signupBtn:hover {
   background-color:#192433;
}

.toLogin {
    margin: 5px auto;
    color:#81b6ff;
    font-size:15px;
}

.toLogin:hover {
    color:#ff8023;
}

.toLogin-col {
    padding-top: 15px;
}

.linkToSignup {
    text-decoration: none;
}

.logo{
    width:300px;
    margin-left: 51px;
}