
.hotel-container {
    width: 100%;
    border:solid 1px #81b6ff;
    border-radius:3px;
    margin-bottom:30px;
    
}

.google-maps {
    height: 200px;
}

.input-row {
    margin-bottom: 8px;
}

.fa-map-marker-alt {
    color: #ff8023;
}

@media (max-width: 575px) {
    .col-xs-12 {
        flex: 0 0 100%;
        min-width: 100%;
    }
}
