.header {
    margin: 10px auto;
    background-color: #DDEFFF;
    height: 50px;
    /*border: solid 1px black;*/
    border-radius: 0.2em;
    padding: 12px;
}

.card-title {
    border-radius: 3px 3px 0 0;
    background-color: #192433;
    height: 36px;
    color:#ffffff;
    padding: 5px 0 5px 26px;
    margin-left: -1px;
}