.form-control{
    border: 1px solid #81b6ff;
    width: 400px;
}

label {
    color:#ff8023;
}

.form {
    margin: 0 auto;
    width: 400px;
    margin-top:100px;
}

.form-title{
    color:#ff8023;
    text-align:center;
    font-weight: 600;
}

.btn-primary{
    background-color:#ff8023;
    color:#ffffff;
    border: none;
    margin-left: 243px;
}

.btn-primary:hover{
    background-color:#81b6ff;
    color:#ffffff;
}


.changeForm{
    color:#ff8023;
    text-decoration: none;
    margin-left:15px;
}

.changeForm:hover{
    color:#81b6ff;
    text-decoration:none;
    text-align: left;
}