.navbar{
    background-color: none;
    background-image: url("../../assets/nav.png");
    height: 85px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
}

.nav-item{
    margin-top:-20px;
}

.navbar-expand-lg{
    height:35px;
}

.navbar-toggler{
    border: 1px solid #ff8023;
}

.navbar-toggler-icon{
    height: 1.2em;
}
    