.navbar{
    background-color: none;
    background-image: url("../../assets/nav.png");
    height: 98px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    margin-bottom: 30px;
}



.navbar-expand-lg{
    height:35px;
}

.navbar-toggler{
    border: 1px solid #ff8023;
}

.navbar-toggler-icon{
    height: 1.2em;
}
    